<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>980349637154-ras5pa9n6i4kog3vabtga90j0ib1nmmq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.980349637154-ras5pa9n6i4kog3vabtga90j0ib1nmmq</string>
	<key>API_KEY</key>
	<string>AIzaSyBTkLQ-1eo0OhaWOUV5jxpe0lbGHPd2aEQ</string>
	<key>GCM_SENDER_ID</key>
	<string>980349637154</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.salles.bolao</string>
	<key>PROJECT_ID</key>
	<string>prestservbuscavida</string>
	<key>STORAGE_BUCKET</key>
	<string>prestservbuscavida.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:980349637154:ios:b365d5fba802f07f04307b</string>
</dict>
</plist>