<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>212214398916-j17cmqger48mjdvf3ithep459p2aabuj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.212214398916-j17cmqger48mjdvf3ithep459p2aabuj</string>
	<key>API_KEY</key>
	<string>AIzaSyBVIjPKmxcaiVN1x0zEQOJVZUd8CqfOMRE</string>
	<key>GCM_SENDER_ID</key>
	<string>212214398916</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.salles.bolaocopadomundo</string>
	<key>PROJECT_ID</key>
	<string>bolao-copa-do-mundo-salles</string>
	<key>STORAGE_BUCKET</key>
	<string>bolao-copa-do-mundo-salles.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:212214398916:ios:b9d3161018a1be4eb26e91</string>
</dict>
</plist>
